<ion-content>
<div class="login-container">

  <div class="form-container">
    <form>
      <ion-input type="text" placeholder="Correo Electronico"></ion-input>
      <ion-input type="text" placeholder="Contraseña"></ion-input>
      
      <ion-button style="font-family: 'Roboto', sans-serif;" fill="clear">Iniciar Sesión</ion-button>

      <a style="font-size: small; font-family: 'Roboto', sans-serif;" href="">Olvide mi contraseña</a>

      <ion-button style="font-family: 'Roboto', sans-serif;" fill="clear" size="small">Registrate GRATIS aqui</ion-button>
    </form>
  </div>
</div>
</ion-content>
